@{
    var id =(int)ViewBag.idUsuario;
}
@model UsuarioCambioPasswordModel
<h3>Cambiar contraseña</h3>
<hr />

<div class="card">
    <div class="card-body">
        <div class="alert alert-success mt-3" role="alert">
            *La contraseña debe tener al menos una Mayuscula, minusculas, digitos y al menos 8 caracteres
        </div>
        <form action="CambiarPassword" method="post">
            <input type="hidden" name="id" value="@id"  />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword"></label>
                <input asp-for="RePassword" class="form-control" type="password" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
    </div>
</div>
