
@{
}
@model RolEdicionModel
<h3>Eliminar Rol</h3>
<hr />
<div class="card">
    <div class="card-body">
        <p>¿Está seguro de eliminar el rol : <b>@Model.Nombre</b>?</p>
        <form action="EliminarRol" method="post">
            <input asp-for="Id" type="hidden" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
