
@{
}
@model RolCreacionModel

<h3>Nuevo Rol</h3>
<hr />

<div class="card">
    <div class="card-body">
        <form action="NuevoRol" method="post">
            <div class="form-group">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" type="text" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
           
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button class="btn btn-primary" type="submit">Guardar</button>

        </form>
    </div>
</div>
